@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans:wght@400;600&display=swap'); 

/* font family  */ 

 body{
    font-family: 'Poppins', sans-serif;
} 

/* banner section  */




/* responsive --------------------------------
----------------------------------------------- */


/* responsive banner carousel section  */

/* 
@media screen and (max-width:1679px) {
    .carousel-inner, .carousel-inner img {
height: 750px;

}
}
@media screen and (max-width:1519px) {
    .banner-title{
        width: 80%;
    }
}

 */
